@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&family=Nunito:wght@300;400&family=Port+Lligat+Sans&family=Raleway&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #f5f5f5;
  background-image: url(/assets/img/bg/bg\ vector.png);
  background-repeat: no-repeat;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f66b40 #294380;
}

/* Chrome, Edge, e Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #294380;
}

*::-webkit-scrollbar-thumb {
  background-color: #f66b40;
  border-radius: 10px;
  border: 3px none #ffffff;
}

header {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
}
header #nave li {
  display: inline-block;
  margin: 10px;
}
header #nave li a {
  text-decoration: none;
  color: #101010;
  font-size: 22px;
  font-weight: 700;
}
header button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background: #f66b40;
  font-family: "Nunito", sans-serif;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}

#main {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
}
#main .text-main {
  width: 600px;
  display: grid;
  gap: 20px;
  justify-items: baseline;
}
#main .text-main img {
  width: 100%;
  max-width: 100px;
  margin-top: 100px;
}
#main .text-main span {
  color: #fff;
  font-size: 22px;
  padding: 3px 30px;
  border-radius: 10px;
  background: #f66b40;
}
#main .text-main h1 {
  color: #101010;
  font-size: 50px;
}
#main .text-main p {
  color: #232323;
  font-size: 25px;
}
#main button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background: #f66b40;
  font-family: "Nunito", sans-serif;
  font-size: 23px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
}
#main img {
  width: 100%;
  max-width: 800px;
}

#centro-tec {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px 50px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  background: url(/assets/img/bg/bg\ vector.png);
  background-size: cover;
  font-size: 60px;
  color: #294380;
}
#centro-tec h1 {
  margin-bottom: 200px;
}
#centro-tec .centro-tec-grid {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#centro-tec .centro-tec-grid .centro-tec-child-01 {
  display: grid;
  justify-items: baseline;
  gap: 20px;
}
#centro-tec .centro-tec-grid .centro-tec-child-01 h2 {
  font-size: 40px;
  width: 500px;
  color: #294380;
}
#centro-tec .centro-tec-grid .centro-tec-child-01 button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background: #F66B40;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Nunito", sans-serif;
  font-size: 23px;
  cursor: pointer;
  color: #232323;
  font-weight: 600;
}
#centro-tec .centro-tec-grid .centro-tec-child-02 {
  width: 600px;
  display: grid;
  justify-items: baseline;
  gap: 10px;
}
#centro-tec .centro-tec-grid .centro-tec-child-02 span {
  font-size: 30px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 10px;
  background: #F66B40;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #232323;
}
#centro-tec .centro-tec-grid .centro-tec-child-02 div {
  width: 500px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#centro-tec .centro-tec-grid .centro-tec-child-02 div ul {
  display: grid;
  gap: 10px;
}
#centro-tec .centro-tec-grid .centro-tec-child-02 img {
  width: 100%;
  max-width: 100px;
}

.h1-cursos {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: #f66b40;
  font-size: 50px;
}
.h1-cursos h1::before {
  content: " ";
  display: flex;
  width: 60px;
  height: 60px;
  background-image: url(/assets/img/after\ h1.png);
  background-repeat: no-repeat;
}

#cursos {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}
#cursos .cursos-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
#cursos .cursos-grid .cursos-grid-text {
  width: 400px;
  display: grid;
  justify-items: baseline;
  gap: 20px;
}
#cursos .cursos-grid .cursos-grid-text span {
  font-size: 20px;
  color: #505050;
  border: solid 0.5px #808080;
  padding: 5px 20px;
  border-radius: 10px;
}
#cursos .cursos-grid .cursos-grid-text h1 {
  font-size: 50px;
  color: #f66b40;
}
#cursos .cursos-grid .cursos-grid-text button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background: #294380;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  font-family: "Nunito", sans-serif;
  font-size: 23px;
  cursor: pointer;
  color: #d9d9d9;
}

.h1-incubadora {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  color: #294380;
}
.h1-incubadora h1::before {
  content: " ";
  display: flex;
  width: 60px;
  height: 60px;
  background-image: url(/assets/img/after\ h1\ blue.png);
  background-repeat: no-repeat;
}

#incubadora {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
}
#incubadora img {
  width: 100%;
  max-width: 150px;
}
#incubadora .text-incubadora {
  display: grid;
  gap: 20px;
  justify-items: baseline;
  width: 700px;
  font-size: 35px;
  color: #294380;
}
#incubadora .text-incubadora button {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background: #294380;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  font-family: "Nunito", sans-serif;
  font-size: 23px;
  cursor: pointer;
  color: #d9d9d9;
}

.h1-programas {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
}
.h1-programas h1 {
  font-family: "Nunito", sans-serif;
  color: #F66B40;
}
.h1-programas h1::before {
  content: " ";
  display: flex;
  width: 60px;
  height: 60px;
  background: url(/assets/img/after\ h1.png);
}

#programas {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  font-family: "Nunito", sans-serif;
}
#programas .programas-grid {
  width: 450px;
  background: url(/assets/img/bg\ programas.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 30px;
  border-radius: 10px;
}
#programas .programas-grid h1 {
  font-size: 40px;
}
#programas .programas-grid p {
  font-size: 22px;
}
#programas .programas-grid h1::before {
  content: " ";
  display: flex;
  width: 100%;
  max-width: 50px;
  height: 50px;
  background: url(/assets/img/after\ cruz.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.h1-professores {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  color: #F66B40;
}
.h1-professores img {
  width: 100%;
  max-width: 150px;
}

#professores {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: "Nunito", sans-serif;
}
#professores .professores-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
#professores .text-professor {
  width: 600px;
  display: flex;
  gap: 20px;
  align-items: center;
}
#professores .text-professor h1 {
  color: #F66B40;
  font-size: 35px;
  margin-bottom: 5px;
}
#professores .text-professor span {
  font-size: 22px;
  color: #294380;
  font-weight: bold;
}
#professores .text-professor p {
  font-size: 22px;
  color: #808080;
  margin-bottom: 20px;
}
#professores .text-professor .social {
  display: flex;
  gap: 20px;
}
#professores .text-professor .social img {
  cursor: pointer;
}

.h1-sobre {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  color: #294380;
}
.h1-sobre h1::before {
  content: " ";
  display: flex;
  width: 60px;
  height: 60px;
  background: url(/assets/img/after\ h1\ blue.png);
}

#sobre {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
}
#sobre .img-sobre {
  display: block;
  width: 100%;
  max-width: 600px;
}
#sobre .text-sobre {
  width: 500px;
  display: grid;
  gap: 30px;
  color: #F66B40;
}
#sobre .text-sobre .adress {
  display: grid;
  gap: 20px;
  font-size: 18px;
  color: #808080;
}
#sobre .text-sobre .adress div {
  display: flex;
  align-items: center;
  gap: 10px;
}
#sobre .text-sobre .social {
  display: flex;
  gap: 20px;
}
#sobre .text-sobre .social img {
  cursor: pointer;
}

#copy {
  background: #F66B40;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Nunito", sans-serif;
}
#copy .copy-child {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#copy .copy-child .copy-grid-01 {
  display: grid;
  gap: 40px;
  font-size: 20px;
  color: #d9d9d9;
}
#copy .copy-child .copy-grid-01 .logo-copy {
  display: grid;
  gap: 10px;
}
#copy .copy-child .copy-grid-01 .email {
  display: grid;
  gap: 10px;
}
#copy .copy-child .copy-grid-01 .email div {
  display: flex;
  gap: 10px;
  align-items: center;
}
#copy .copy-child .copy-grid-01 .email input {
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
#copy .copy-child .copy-grid-01 .email img {
  cursor: pointer;
}
#copy .copy-child .copy-grid-02 {
  display: grid;
  gap: 20px;
}
#copy .copy-child .copy-grid-02 h2 {
  color: #294380;
  font-size: 30px;
}
#copy .copy-child .copy-grid-02 ul li {
  list-style: none;
  margin-bottom: 15px;
}
#copy .copy-child .copy-grid-02 ul li a {
  text-decoration: none;
  color: #d9d9d9;
  font-size: 20px;
}
#copy .copy-child .copy-grid-02 .social {
  display: flex;
  gap: 30px;
}
#copy .copy-child .copy-grid-02 .social img {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */